h1 {
  font-family: acumin-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-family: acumin-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
}

h3 {
  font-family: acumin-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.ingredients{
font-family: garamond-premier-pro, serif;
font-weight: 400;
font-style: italic;
}

p {
font-family: garamond-premier-pro, serif;
font-weight: 500;
font-style: normal;
}
